/**styles go here! I totally remember how to comment out css**/
body {
    background-color: green;
}

.box-grid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.box-row {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: auto;
    min-height: 10px;
}

.box-column {
    
    
    background-color: blue;    
    flex-grow: 1;
    flex-basis: auto;
    border: 1px dashed black;
    min-width: 10px;
    
}

.box-column:hover{
    background-color: purple;
}